<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title> Custom WebJudge</title>
        <link href="/static/css/styles.css" rel="stylesheet" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <link href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css" rel="stylesheet" crossorigin="anonymous" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/js/all.min.js" crossorigin="anonymous"></script>
        <link rel="apple-touch-icon" sizes="57x57" href="/media/favicon/apple-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="/media/favicon//apple-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="/media/favicon//apple-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="/media/favicon//apple-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="/media/favicon//apple-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="/media/favicon//apple-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="/media/favicon//apple-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="/media/favicon//apple-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="/media/favicon//apple-icon-180x180.png">
        <link rel="icon" type="image/png" sizes="192x192"  href="/media/favicon//android-icon-192x192.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/media/favicon//favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="96x96" href="/media/favicon//favicon-96x96.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/media/favicon//favicon-16x16.png">
        <link rel="manifest" href="/media/favicon//manifest.json">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="/media/favicon//ms-icon-144x144.png">
        <meta name="theme-color" content="#ffffff">
    </head>
    <body class="sb-nav-fixed">
        <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
            <a class="navbar-brand" href="/"> Custom WebJudge </a><button class="btn btn-link btn-sm order-1 order-lg-0" id="sidebarToggle" href="#"><i class="fas fa-bars"></i></button
            ><!-- Navbar Search-->
            <form class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0">
                <div class="input-group">
                    <div style="color: white; position: relative; padding: 6px; margin-right: 15px;">
                        <a href="/user_admin/" style="color: white; text-decoration: none;"> <i class="fas fa-user fa-fw"></i> {{ userinfo.name }} {{ userinfo.surname }} </a>
                    </div>
                    
                    <a href="/logout/"> <span class="badge badge-secondary" style="background-color: #5a5f64;padding: 13px; margin-left: 20px;">Cerrar Sesión &nbsp;<i class="fas fa-sign-out-alt"></i>                    </span> </a>
                </div>
            </form>
        </nav>
        <div id="layoutSidenav">
            <div id="layoutSidenav_nav">
                <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                    <div class="sb-sidenav-menu">
                        <div class="nav">
                            <div class="sb-sidenav-menu-heading">LINKS</div>
                            <a class="nav-link" href="/">
                                <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div> Inicio </a>
                                {% if userinfo.role == 'Profesor' %}
                                <a class="nav-link" href="/newtest/">
                                    <div class="sb-nav-link-icon"> <i class="far fa-plus-square"></i></div> Nuevo Reto </a>
                                <a class="nav-link" href="/admin/">
                                    <div class="sb-nav-link-icon"> <i class="fas fa-users-cog"></i></div> Panel Admin </a>
                                {% endif %}
                                <a class="nav-link" href="/user_admin/">
                                    <div class="sb-nav-link-icon"> <i class="fas fa-user"></i></div> Panel Usuario </a>
                        </div>
                    </div>
                    <div class="sb-sidenav-footer">
                        DAW 2020 Pol Estecha
                    </div>
                </nav>
            </div>