{% include "base_head.html"%}

   <div id="layoutSidenav_content">
      <main>
          <div class="container-fluid">
          </div>
              <br />

              <div class="card" style=" margin: 1.6% 5% 0% 10%; text-align: left; width: 30%; float: left;">
              <!-- Estilo: Cartas de Bootstrap. https://getbootstrap.com/docs/4.0/components/card/ -->
                  <div class="card-body">
                      <p> <b> Usuario: </b> {{ userinfo.user.username }}</p>
                      <p> <b> Nombre: </b> {{ userinfo.name }} {{ userinfo.surname }}</p>
                      <p> <b> Email: </b> {{ userinfo.user.email }}</p>
                      <p> En esta web eres un/a {{ userinfo.role }}/a.</p>
                  </div>
                    <div class="card" style="min-height: 200px; max-height: 150px;margin: auto; margin-bottom: 5%; text-align: left; width: 90%; float: left; overflow-y: auto">
                      <!-- Estilo: Cartas de Bootstrap. https://getbootstrap.com/docs/4.0/components/card/ -->
                      <div class="card-header">
                        Retos realizados
                    </div>
                          <div class="card-body" style="height: 50px; overflow-y: auto;">
                            {% for test in userinfo.tests_done %}
                              <p> {{ test }} </p>
                            {% endfor %}
                          </div>
                      </div>
                </div>

                <br>

                <div class="card" style="margin: auto; margin-left: 1%; margin-bottom: 50px; text-align: center; width: 45%; height: 430px;">
                    <!-- Estilo: Cartas de Bootstrap. https://getbootstrap.com/docs/4.0/components/card/ -->
                  <div class="card-header">
                      Estadísticas de los retos realizados
                  </div>
                      <div class="card-body">
                        <div class="btn-group" role="group" aria-label="Basic example">
                          <button type="button" class="btn btn-secondary">Mas Intentos</button>
                          <button type="button" class="btn btn-secondary">Mas Aciertos</button>
                          <button type="button" class="btn btn-secondary">Nuevos</button>
                          <button type="button" class="btn btn-secondary">Usuario con mas aciertos</button>
                        </div>
                          
                      </div>
                  </div>


                  <div class="card" style="margin: auto; margin-bottom: 50px; text-align: center; width: 70%; max-height: 500px; overflow-y: scroll">
                    <!-- Estilo: Cartas de Bootstrap. https://getbootstrap.com/docs/4.0/components/card/ -->
                  <div class="card-header">
                      Lista de retos disponibles
                  </div>
                  <table class="table table-striped">
                    <thead class="thead-dark">
                      <tr>
                        <th scope="col"> Título </th>
                        <th scope="col"> Creado por </th>
                        <th scope="col"> Nº de intentos </th>
                      </tr>
                    </thead>

                      <tbody>
                        {% for test in tests %}
                          <tr>
                            <th scope="row"> {{test.name}} </th>
                            <td> {{ test.created_by}}</td>
                            <td> {{ test.test_tries}}</td>

                        {% endfor %}
                          </tr>
                      </tbody>

                  </table>
                  </div>

                  {% if userinfo.role == 'Profesor' %}
                    <div style="margin: auto; text-align: center; position: relative; width: 50%; margin-bottom: 40px;"> 
                      <button onclick="location.href='/newtest/'" class="btn btn-primary" style="width: 100%;"> Crear nuevo reto </button>
                    </div>
                  {% endif %}

                </main>


{% include "base_footer.html"%}

