{% include "base_head.html"%}

            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid">
                    </div>
                        <br />
                      <div style="margin: auto; text-align: center; position: relative; width: 50%;"> 
                        <button onclick="location.href='/newtest/'" class="btn btn-primary" style="width: 100%;"> Crear nuevo test </button>
                      </div>
                      </form>

                </main>


{% include "base_footer.html"%}

