{% include "base_head.html"%}

            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid" style="text-align: center; ">
                        <h1 class="mt-4">Crear un nuevo reto</h1>
                        <br>
                        <ol class="breadcrumb mb-4">
                            <p>  Crear un nuevo reto está formado por tres pasos. Una vez terminados, el nuevo reto aparecerá en la lista de retos y podrá ser modificado. Pasos:</p>
                            <p> · El primer paso es crear los datos básicos. Debes poner un nombre al reto, quien lo ha creado, y una explicación de lo que se ha de conseguir. Es aconsejable añadir casos de prueba con datos de entrada / salida.</p>
                            <p> · Después, tendrás que subir el archivo base HTML y el JS que contienen la plantilla y la respuesta, respectivamente, para ejecutar el reto. Mas info en la siguiente página. </p>
                            <p> · Por ultimo, se añaden los pasos que deberá seguir el reto. Ten en cuenta de que se debe completar el reto correctamente para poder ser subido a la web. </p> 
                        </ol>
                    </div>
                    <iframe name="dummyframe" id="dummyframe" style="display: none;"></iframe>
                    {% block content %}
                    <form method="post" id="newtestform" target="dummyframe" style="margin: auto; width:50%;">
                      {% csrf_token %}
                      {% for field in form %}
                        <p>
                          {{ field.label_tag }}<br>
                          {{ field }}
                          {% if field.help_text %}
                            <small style="color: grey">{{ field.help_text }}</small>
                          {% endif %}
                          {% for error in field.errors %}
                            <p style="color: red">{{ error }}</p>
                          {% endfor %}
                        </p>
                      {% endfor %}
                      <div style="margin: auto; text-align: center; position: relative; width: 50%;"> 
                        <button onclick="SubForm()" id="nextbutton" class="btn btn-primary" style="width: 100%;"> Siguiente </button>
                      </div>
                      </form>
                    {% endblock %}
                    <script>
                        // Funcion que envia una peticion XHR con los datos del nuevo test a la API.
                        function SubForm (){
                            $.ajax({
                                url:'/api/createtest/',
                                type:'POST',
                                data:$('#newtestform').serialize(),
                                success:function(response){
                                    window.location.href = response.redirect_url;
                                }
                            });
                        }
            
                    </script>
                </main>
{% include "base_footer.html" %}
