<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title> Custom Web Judge - Registro </title>
        <link href="/static/css/styles.css" rel="stylesheet" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/js/all.min.js" crossorigin="anonymous"></script>
    </head>
    <body class="bg-primary">
        <div id="layoutAuthentication">
            <div id="layoutAuthentication_content">
                <main>
                    <div class="container" style="margin-top: 0px; margin-bottom: 50px;">
                        <div class="row justify-content-center">
                            <div class="col-lg-7">
                                <div class="card shadow-lg border-0 rounded-lg mt-5">
                                    <div class="card-header"><h3 class="text-center font-weight-light my-4"> Registro </h3></div>
                                    <div class="card-body">
                                      {% block content %}
                                      <form method="post">
                                        {% csrf_token %}
                                        {% for field in form %}
                                          <p>
                                            {{ field.label_tag }}<br>
                                            {{ field }}
                                            {% if field.help_text %}
                                              <small style="color: grey">{{ field.help_text }}</small>
                                            {% endif %}
                                            {% for error in field.errors %}
                                              <p style="color: red">{{ error }}</p>
                                            {% endfor %}
                                          </p>
                                        {% endfor %}
                                        <div style="margin: auto; text-align: center; position: relative; width: 50%;"> 
                                          <button type="submit" class="btn btn-primary" style="width: 100%;"> Crear cuenta </button>
                                        </div>
                                        </form>
                                      {% endblock %}
                                    </div>
                                    <div class="card-footer text-center">
                                        <div class="small"><a href="/login/"> ¿Ya estás registrado? Accede a la web. </a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </main>
            </div>
        </div>
        <script>
            document.getElementById("id_username").classList.add("form-control");
            document.getElementById("id_password").classList.add("form-control");
            document.getElementById("id_username").placeholder = "Username";
            document.getElementById("id_password").placeholder = "Password";
            document.getElementById("id_username").type = "text";
            document.getElementById("id_password").type = "password";
            document.getElementById("id_username").required = "required";
            document.getElementById("id_password").required = "required";
            document.getElementById("id_username").autofocus = "autofocus";
          </script>          
        <script src="https://code.jquery.com/jquery-3.4.1.min.js" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
        <script src="/static/js/scripts.js"></script>
    </body>
</html>
