{% include "base_head.html"%}

            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid" style="text-align: center; ">
                        <h1 class="mt-4">Crear un nuevo test</h1>
                        <br />
                        <ol class="breadcrumb mb-4">
                            <p> Sube el archivo base en el que se ejecutará tu test. <br> Principalmente, debe ser un HTML con una base hecha, que contenga un    include de un archivo javascript, del nombre que sea. <BR>  En este archivo se ejecutará el codigo JS que permitirá realizar el test. 
                                Una forma muy básica puede ser un text input, con un boton, que al pulsarlo se ejecuta una funcion determinada, que es la que se tendrá que programar para realizar el reto. Tienes libertad de añadir lo que quieras a este HTML.

                                <BR> <br>
                                Recuerda añadir un ID en cada uno de los elementos clave (boton, input...), ya que los pasos del test los utilizan para realizar su funcion.
                                <BR> <br>
                                Solo se puede subir un archivo HTML. Si te equivocas, simplemente subelo de nuevo y se sobreescribira.
                            </p>
                        </ol>
                    </div>
                    <iframe name="dummyframe" id="dummyframe" style="display: none;"></iframe>
                    <h2 style="text-align: center"> Subir Archivo </h2>
                    <form method="POST" enctype="multipart/form-data" id="uploadform" action="/api/uploadfile/" target="dummyframe" style="text-align: center"> <br>
                        {% csrf_token %}
                        <input type="text" name="test_id" id="test_id" value="{{ test_id }}" hidden> 
                        <input type="file" name="document">
                        <button type="submit"> Enviar al servidor </button>
                    </form>
                    <p style="margin: auto; text-align: center; color: green; display: none" id="subido"> Archivo subido correctamente! </p>
                    <br /> <br />
                    <button class="btn btn-primary" style="width: 30%; margin-left: 36em;" disabled id="next" onclick="gonext()"> Siguiente paso </button>
                    <script> 
                        
                        function callback(){
                            var p = document.getElementById("subido");
                            p.style.display = "block";
                            document.getElementById("next").disabled = false;
                        }

                        function gonext(){

                        }

                        var ele = document.getElementById("uploadform");

                        $(ele).submit(callback);
                        
                        </script>
                </main>
                
{% include "base_footer.html" %}